name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora
      options: --privileged

    steps:
      - name: Prepare
        run: |
          dnf install -y git gcc meson glib2-devel \
            json-glib-devel gobject-introspection-devel vala \
            gstreamer1-devel gstreamer1-plugins-base-devel

      # TODO: Use RPM package once available in Fedora
      - name: Build libsoup3
        run: |
          dnf install -y libnghttp2-devel sqlite-devel \
            libpsl-devel glib-networking
          git clone "https://gitlab.gnome.org/GNOME/libsoup.git"
          cd libsoup
          git checkout 3.0.4
          meson builddir --prefix=/usr -Dintrospection=enabled \
            -Dvapi=enabled -Dtests=false -Dsysprof=disabled \
            -Dhttp2_tests=disabled -Dpkcs11_tests=disabled
          cd builddir
          meson install

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          meson builddir --prefix=/usr -Dauto_features=enabled -Dtests=true
          cd builddir
          meson install

      - name: Test
        run: |
          cd builddir
          meson test

      - name: Upload Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: builddir/meson-logs/testlog.txt
          if-no-files-found: error
