name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora
      options: --privileged

    steps:
      - name: Prepare
        run: |
          dnf install -y git gcc meson glib2-devel libsoup-devel \
            json-glib-devel gobject-introspection-devel vala \
            gstreamer1-devel gstreamer1-plugins-base-devel

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          meson builddir --prefix=/usr -Dauto_features=enabled -Dtests=true
          cd builddir
          meson install

      - name: Test
        run: |
          cd builddir
          meson test

      - name: Upload Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: builddir/meson-logs/testlog.txt
          if-no-files-found: error
